<template>

    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class=" text-primary" for="provider">Fornecedor</label>
                        <input type="text" name="provider" class="form-control" id="provider" placeholder="Fornecedor" v-model="breakdown.provider" :required="true">
                    </div>
                    <div class="form-group">
                        <label class=" text-primary" for="shipping_co">Transportadora</label>
                        <input type="text" name="shipping_co" class="form-control" id="shipping_co" placeholder="Transportadora" v-model="breakdown.shipping_co" :required="true">
                    </div>
                    <div class="form-group">
                        <label class=" text-primary" for="notes">Observações</label>
                        <textarea type="text" name="notes" class="form-control" id="notes" placeholder="Observaçoes" v-model="breakdown.notes"></textarea>
                    </div>

                    <div class="form-group">
                        <label class=" text-primary" for="type">Tipo de ocorrência</label>

                        <select id="type" name="type" class="form-control" v-model="breakdown.type" :required="true">
                            <option value="" disabled selected>Selecione um Tipo</option>
                            <option v-for="(option,key) in types" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class=" text-primary" for="status">Status</label>

                        <select id="status" name="status" class="form-control" v-model="breakdown.status" :required="true">
                            <option value="" disabled selected>Selecione um Staus</option>
                            <option v-for="(option,key) in status" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <!-- cellphone div -->
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                <tr>
                                    <th colspan="1"><b>Qtd</b></th>
                                    <th colspan="1"><b>ID</b></th>
                                    <th colspan="3"><b>Descrição</b></th>
                                    <th colspan="1"><b>Custo</b></th>
                                    <th colspan="1"><b>Total</b></th>
                                    <th colspan="1"><b>IPI (%)</b></th>
                                    <th><b>NF</b></th>
                                    <th><b>Tipo</b></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items">
                                        <td>
                                            <input type="number" :name="'item['+index+'][quantity]'" class="form-control" id="quantity" placeholder="Qtd" v-model="item.quantity" required>
                                        </td>
                                        <td colspan="1">
                                            <input type="text" :name="'item['+index+'][aux_code]'" class="form-control" id="aux_code" placeholder="ID" v-model="item.aux_code" v-on:input="getProductByAux(item)" required>
                                        </td>
                                        <td colspan="3">
                                            <input type="text" :name="'item['+index+'][description]'" class="form-control" id="description" placeholder="Descrição" v-model="item.description" required>
                                        </td>
                                        <td>
                                            <input type="hidden" :name="'item['+index+'][unit_price]'" v-model="item.unit_price">
                                            <money class="form-control" id="unit_price" placeholder="Preço Unit." v-model="item.unit_price" required></money>
                                        </td>
                                        <td>
                                            <input type="hidden" :name="'item['+index+'][amount]'" v-model="item.unit_price * item.quantity">
                                            <money class="form-control" id="amount" placeholder="Total" v-model="item.unit_price * item.quantity" readonly></money>
                                        </td>
                                        <td>
                                            <input type="number" step="0.01" :name="'item['+index+'][tax]'" class="form-control" id="tax" placeholder="IPI (%)" v-model="item.tax" required>
                                        </td>
                                        <td>
                                            <input type="text" :name="'item['+index+'][invoice]'" class="form-control" id="invoice" placeholder="NF" v-model="item.invoice" required>
                                        </td>
                                        <td>
                                            <input type="hidden" :name="'item['+index+'][amount_with_tax]'" class="form-control" id="amout_with_tax" placeholder="Preço Unit." v-model="(((item.tax/100) + 1 ) * item.unit_price) * item.quantity">

                                            <select id="itemtype" :name="'item['+index+'][type]'" class="form-control" v-model="item.type" :required="true">
                                                <option value="" disabled selected>Selecione um Tipo</option>
                                                <option v-for="(option,key) in itemsTypes" :value="key">{{ option }}</option>
                                            </select>
                                        </td>
                                        <td id="bread-actions" align="center">
                                            <a v-on:click="removeElement(index);" class="btn btn-sm btn-danger pull-center delete waves-effect">
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="col-md-2 col-xs-1">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" @click="addRow">
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                    Adicionar linha</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";

    export default {
        name: 'breakdown',
        data(){
            return {
                breakdown : {},
                items: [],
                types : [],
                itemsTypes : [],
                status : [],
                actionUrl : "",
                submitMethod : "",
                title: "",
                csrf: "",
                findProductUrl: ""
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {
                    this.cleanObject();

                    let getUrl = $(e.target).data('retrieve');
                    let getItemsUrl = $(e.target).data('retrieve-items');

                    let getUrlType = $(e.target).data('retrieve-types');
                    let getUrlItemType = $(e.target).data('retrieve-items-types');
                    let getUrlStatus = $(e.target).data('retrieve-status');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');
                    this.findProductUrl = $(e.target).data('find-product');

                    if(getUrl){
                        this.getObject(getUrl);
                        this.getItems(getItemsUrl);
                    }
                    else{
                        this.cleanObject()
                    }

                    this.getType(getUrlType);
                    this.getItemType(getUrlItemType);
                    this.getStatus(getUrlStatus);
                });
            },
            getObject(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.breakdown = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getItems(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.items = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getType(url){
                axios.get(url)
                    .then((response) => {
                       this.types = response.data;
                    });
            },
            getItemType(url){
                axios.get(url)
                    .then((response) => {
                        this.itemsTypes = response.data;
                    });
            },
            getStatus(url){
                axios.get(url)
                    .then((response) => {
                        this.status = response.data;
                    });
            },
            cleanObject(){
                this.breakdown = {};
                this.status = {};
                this.types = {};
                this.itemsTypes = {};
                this.items = [];
            },
            addRow: function() {
                let elem = document.createElement('div');
                elem.className = 'row';

                this.items.push({
                    quantity: "",
                    aux_code: "",
                    description: "",
                    unit_price: "",
                    tax: "",
                    amount: ""
                });
            },
            removeElement: function(index) {
                this.items.splice(index, 1);
            },
            getProductByAux: function(item){
                if(item.aux_code.length >= 6){
                    axios({
                        method: "GET",
                        url: this.findProductUrl.replace('ID', item.aux_code),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(
                        result => {
                            item.description = result.data.descricao;
                            item.ref = result.data.referencia;
                        },
                        error => {
                            console.error(error);
                        }
                    );

                }
            }
        }
    }
</script>
