<template>

    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-primary" for="name">Nome</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nome" v-model="contact.name" :required="true">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="email">Email</label>
                        <input type="text" name="email" class="form-control" id="email" placeholder="E-mail" v-model="contact.email">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="address">Endereço</label>
                        <textarea type="text" name="address" class="form-control" id="address" placeholder="Endereço" v-model="contact.address"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="notes">Observações</label>
                        <textarea type="text" name="notes" class="form-control" id="notes" placeholder="Observações" v-model="contact.notes"></textarea>
                    </div>
                    <!-- telephone div -->
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="text-primary" for="telephone1">Telefone - 1</label>
                                <input type="text" name="telephone1" class="form-control" id="telephone1" placeholder="Telefone - 1" v-model="contact.telephone1" v-mask="'(##) ####-####'">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="text-primary" for="telephone2">Telefone - 2</label>
                                <input type="text" name="telephone2" class="form-control" id="telephone2" placeholder="Telefone - 2" v-model="contact.telephone2" v-mask="'(##) ####-####'">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="text-primary" for="telephone3">Telefone - 3</label>
                                <input type="text" name="telephone3" class="form-control" id="telephone3" placeholder="Telefone - 3" v-model="contact.telephone3">
                            </div>
                        </div>
                    </div>
                    <!-- cellphone div -->
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="text-primary" for="cellphone1">Celular - 1</label>
                                <input type="text" name="cellphone1" class="form-control" id="cellphone1" placeholder="Celular - 1" v-model="contact.cellphone1" v-mask="'(##) #####-####'">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="text-primary" for="cellphone2">Celular - 2</label>
                                <input type="text" name="cellphone2" class="form-control" id="cellphone2" placeholder="Celular - 2" v-model="contact.cellphone2" v-mask="'(##) #####-####'">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="text-primary" for="cellphone3">Celular - 3</label>
                                <input type="text" name="cellphone3" class="form-control" id="cellphone3" placeholder="Celular - 3" v-model="contact.cellphone3" v-mask="'(##) #####-####'">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="type">Categoria</label>

                        <select id="type" name="type" class="form-control" v-model="contact.type" :required="true">
                            <option value="" disabled selected>Selecione uma Categoria</option>
                            <option v-for="(option,key) in type" :value="key">{{ option }}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";

    export default {
        name: 'contact',
        data(){
            return {
                contact : {},
                type   : {},
                actionUrl : "",
                submitMethod : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {
                    this.cleanObject();

                    let getUrl = $(e.target).data('retrieve');
                    let getUrlType = $(e.target).data('retrievetype');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(getUrl){
                        this.getContact(getUrl)
                    }
                    else{
                        this.cleanObject()
                    }

                    this.getTypes(getUrlType);
                });
            },
            getContact(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.contact = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getTypes(url){
                axios.get(url)
                    .then((response) => {
                        this.type = response.data;
                    });
            },
            cleanObject(){
                this.contact = {};
                this.type = {};
            }
        }
    }
</script>
