<template>

    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-primary" for="provider">Fornecedor</label>
                        <input type="text" name="provider" class="form-control" id="provider" placeholder="Fornecedor" v-model="factor.provider" :required="true">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="factor_wl">Fator WL</label>
                        <the-mask mask="#,#" name="factor_wl" type="text" masked="false" class="form-control" id="factor_wl" placeholder="WL" v-model="factor.factor_wl"></the-mask>
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="factor_cirne">Fator Cirne</label>
                        <the-mask mask="#,#" name="factor_cirne" type="text" masked="false" class="form-control" id="factor_cirne" placeholder="Cirne" v-model="factor.factor_cirne"></the-mask>
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="have_tax">IPI</label>

                        <select id="have_tax" name="have_tax" class="form-control" v-model="factor.have_tax" :required="true">
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="0">Não</option>
                            <option value="1">Sim</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";
    import {TheMask} from 'vue-the-mask'


    export default {
        components: {TheMask},
        name: 'factor',
        data(){
            return {
                factor : {},

                actionUrl : "",
                submitMethod : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {
                    this.cleanObject();

                    let getUrl = $(e.target).data('retrieve');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(getUrl){
                        this.getObject(getUrl);
                    }
                    else{
                        this.cleanObject()
                    }

                });
            },
            getObject(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.factor = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },

            cleanObject(){
                this.factor = {};
            },
        }
    }
</script>
