<template>

    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-primary" for="provider">Fornecedor</label>
                        <input type="text" name="provider" class="form-control" id="provider" placeholder="Fornecedor" v-model="price.provider" :required="true">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="invoice">NF-e Nº#</label>
                        <input type="text" name="invoice" class="form-control" id="invoice" placeholder="NF-e" v-model="price.invoice" :required="true">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="notes">Observações</label>
                        <textarea type="text" name="notes" class="form-control" id="notes" placeholder="Observaçoes" v-model="price.notes"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="status">Status</label>

                        <select id="status" name="status" class="form-control" v-model="price.status" :required="true">
                            <option value="" disabled selected>Selecione um Staus</option>
                            <option v-for="(option,key) in status" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <!-- cellphone div -->
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                <tr>
                                    <th><b>ID</b></th>
                                    <th colspan="1"><b>Ref</b></th>
                                    <th colspan="3"><b>Descrição</b></th>
                                    <th colspan="1"><b>Qtd</b></th>
                                    <th colspan="1"><b>Preço Pedido</b></th>
                                    <th colspan="1"><b>Preço NF-e</b></th>
                                    <th colspan="1"><b>Dif. Unitária</b></th>
                                    <th colspan="1"><b>IPI (%)</b></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items">
                                        <td colspan="1">
                                            <input type="text" :name="'item['+index+'][aux_code]'" class="form-control" id="aux_code" placeholder="ID" v-model="item.aux_code" v-on:input="getProductByAux(item)" required>
                                        </td>
                                        <td colspan="1">
                                            <input type="text" :name="'item['+index+'][ref]'" class="form-control" id="ref" placeholder="Ref" v-model="item.ref" required>
                                        </td>
                                        <td colspan="3">
                                            <input type="text" :name="'item['+index+'][description]'" class="form-control" id="description" placeholder="Descrição" v-model="item.description" required>
                                        </td>
                                        <td>
                                            <input type="number" :name="'item['+index+'][quantity]'" class="form-control" id="quantity" placeholder="Qtd" v-model="item.quantity" required>
                                        </td>
                                        <td>
                                            <input type="hidden" :name="'item['+index+'][original_price]'" v-model="item.original_price">
                                            <money class="form-control" id="original_price" placeholder="Preço Pedido" v-model="item.original_price" required></money>
                                        </td>
                                        <td>
                                            <input type="hidden" :name="'item['+index+'][recived_price]'" v-model="item.recived_price">
                                            <money class="form-control" id="recived_price" placeholder="Preço NF-e" v-model="item.recived_price" required></money>
                                        </td>
                                        <td>
                                            <input type="hidden" :name="'item['+index+'][amount]'" v-model="(item.recived_price - item.original_price) * item.quantity">
                                            <money class="form-control" id="unit_amount" placeholder="Total" v-model="item.recived_price - item.original_price" readonly></money>
                                        </td>
                                        <td>
                                            <input type="number" step="0.01" :name="'item['+index+'][tax]'" class="form-control" id="tax" placeholder="IPI (%)" v-model="item.tax" required>
                                        </td>

                                        <input type="hidden" :name="'item['+index+'][amount_with_tax]'" class="form-control" id="amout_with_tax" placeholder="Preço Unit." v-model="(((item.tax/100) + 1 ) * (item.recived_price - item.original_price)) * item.quantity">


                                        <td id="bread-actions" align="center">
                                            <a v-on:click="removeElement(index);" class="btn btn-sm btn-danger pull-center delete waves-effect">
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="col-md-2 col-xs-1">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" @click="addRow">
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                    Adicionar linha
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";

    export default {
        name: 'price-difference',
        data(){
            return {
                price : {},
                items: [],
                status : [],
                actionUrl : "",
                submitMethod : "",
                title: "",
                csrf: "",
                findProductUrl: ""
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {
                    this.cleanObject();
                    let getUrl = $(e.target).data('retrieve');
                    let getItemsUrl = $(e.target).data('retrieve-items');
                    let getUrlStatus = $(e.target).data('retrieve-status');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');
                    this.findProductUrl = $(e.target).data('find-product');

                    if(getUrl){
                        this.getObject(getUrl);
                        this.getItems(getItemsUrl);
                    }
                    else{
                        this.cleanObject()
                    }

                    this.getStatus(getUrlStatus);
                });
            },
            getObject(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.price = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getItems(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.items = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getStatus(url){
                axios.get(url)
                    .then((response) => {
                        this.status = response.data;
                    });
            },
            cleanObject(){
                this.price = {};
                this.status = {};
                this.items = [];
            },
            addRow: function() {
                let elem = document.createElement('div');
                elem.className = 'row';

                this.items.push({
                    aux_code: "",
                    ref:"",
                    description: "",
                    quantity: "",
                    original_price: "",
                    recived_price: "",
                    tax: "",
                    amount: ""
                });
            },
            removeElement: function(index) {
                this.items.splice(index, 1);
            },
            getProductByAux: function(item){
                if(item.aux_code.length >= 6){
                    axios({
                        method: "GET",
                        url: this.findProductUrl.replace('ID', item.aux_code),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(
                        result => {
                            item.description = result.data.descricao;
                            item.ref = result.data.referencia;
                        },
                        error => {
                            console.error(error);
                        }
                    );

                }
            }
        }
    }
</script>
