<template>

    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <!-- type 2 = product -->
                <input type="hidden" name="type" value="2">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-primary" for="notes">Observações</label>
                        <textarea type="text" name="notes" class="form-control" id="notes" placeholder="Observaçoes" v-model="protocol.notes"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="status">Status</label>

                        <select id="status" name="status" class="form-control" v-model="protocol.status" :required="true">
                            <option value="" disabled selected>Selecione um Staus</option>
                            <option v-for="(option,key) in status" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <!-- cellphone div -->
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                <tr>
                                    <th><b>Data</b></th>
                                    <th><b>Transportadora</b></th>
                                    <th><b>Fornecedor</b></th>
                                    <th><b>NF</b></th>
                                    <th><b>Vols.</b></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items">
                                        <td>
                                            <input type="date" :name="'item['+index+'][shipping_date]'" class="form-control" id="shipping_date" placeholder="Data" v-model="item.shipping_date" required>
                                        </td>
                                        <td>
                                            <input type="text" :name="'item['+index+'][shipping_co]'" class="form-control" id="shipping_co" placeholder="Transportadora" v-model="item.shipping_co" required>
                                        </td>
                                        <td>
                                            <input type="text" :name="'item['+index+'][provider]'" class="form-control" id="provider" placeholder="Fornecedor" v-model="item.provider" required>
                                        </td>
                                        <td>
                                            <input type="text" :name="'item['+index+'][invoice]'" class="form-control" id="invoice" placeholder="NF" v-model="item.invoice" required>
                                        </td>
                                        <td>
                                            <input type="text" :name="'item['+index+'][volumes]'" class="form-control" id="volumes" placeholder="Vol." v-model="item.volumes" required>
                                        </td>

                                        <td id="bread-actions" align="center">
                                            <a v-on:click="removeElement(index);" class="btn btn-sm btn-danger pull-center delete waves-effect">
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="col-md-2 col-xs-1">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" @click="addRow">
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                    Adicionar linha
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";

    export default {
        name: 'protocol-product',
        data(){
            return {
                protocol : {},
                items: [],
                status : [],

                actionUrl : "",
                submitMethod : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {
                    this.cleanObject();

                    let getUrl = $(e.target).data('retrieve');
                    let getItemsUrl = $(e.target).data('retrieve-items');

                    let getUrlStatus = $(e.target).data('retrieve-status');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(getUrl){
                        this.getObject(getUrl);
                        this.getItems(getItemsUrl);
                    }
                    else{
                        this.cleanObject()
                    }
                    this.getStatus(getUrlStatus);
                });
            },
            getObject(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.protocol = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getItems(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.items = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getStatus(url){
                axios.get(url)
                    .then((response) => {
                        this.status = response.data;
                    });
            },
            cleanObject(){
                this.protocol = {};
                this.status = {};
            },
            addRow: function() {
                let elem = document.createElement('div');
                elem.className = 'row';

                this.items.push({
                    shipping_date: "",
                    shipping_co: "",
                    provider: "",
                    invoice: "",
                    volumes: "",
                });
            },
            removeElement: function(index) {
                this.items.splice(index, 1);
            },
        }
    }
</script>
