<template>
    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-primary" for="aux_code">Código do auxiliar</label>
                        <input type="number" name="aux_code" class="form-control" id="aux_code" min="0" v-model="validity.aux_code" v-on:input="getProductByAux(validity)":required="true">
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="provider">Fornecedor</label>
                        <input type="text" name="provider" class="form-control" id="provider" placeholder="Fornecedor" v-model="validity.provider" :required="true">
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="description">Descrição</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Descrição" v-model="validity.description" :required="true">
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="description">Qtd</label>
                        <input type="number" name="quantity" class="form-control" id="quantity" placeholder="Quantidade" v-model="validity.quantity" :required="true" min="1">
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="description">Preço de Venda</label>
                        <input type="hidden" :name="'price'" v-model="validity.price">
                        <money class="form-control" id="price" placeholder="Preço de Venda" v-model="validity.price" required></money>
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="validity_date">Data de validade</label>
                        <input type="date" name="validity_date" class="form-control" id="validity_date" placeholder="Data de validade" v-model="validity.validity_date_conv" :required="true">
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="lot">Lote</label>
                        <input type="text" name="lot" class="form-control" id="lot" placeholder="Lote" v-model="validity.lot" :required="true">
                    </div>

                    <div class="form-group">
                        <label class=" text-primary" for="notes">Observações</label>
                        <textarea type="text" name="notes" class="form-control" id="notes" placeholder="Observaçoes" v-model="validity.notes"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="status">Status</label>

                        <select id="status" name="status" class="form-control" v-model="validity.status" :required="true">
                            <option value="" disabled selected>Selecione um Staus</option>
                            <option v-for="(option,key) in status" :value="key">{{ option }}</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>
</template>

<script>
    import * as axios from "axios";

    export default {
        name: "validity-control",
        data(){
            return {
                validity : {},
                status : [],
                actionUrl : "",
                submitMethod : "",
                title: "",
                csrf: "",
                findProductUrl: ""
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {
                    this.cleanObject();

                    let getUrl = $(e.target).data('retrieve');
                    let getUrlStatus = $(e.target).data('retrieve-status');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');
                    this.findProductUrl = $(e.target).data('find-product');

                    if(getUrl){
                        this.getObject(getUrl);
                    }
                    else{
                        this.cleanObject()
                    }

                    this.getStatus(getUrlStatus);
                });
            },
            getObject(url){
                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.validity = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getStatus(url){
                axios.get(url)
                    .then((response) => {
                        this.status = response.data;
                    });
            },
            cleanObject(){
                this.validity = {};
                this.status = {};
            },
            getProductByAux: function(item){
                if(item.aux_code.length >= 6){
                    axios({
                        method: "GET",
                        url: this.findProductUrl.replace('ID', item.aux_code),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(
                        result => {
                            item.description = result.data.descricao;
                            item.provider = result.data.nome_fornecedor;
                            item.price = result.data.preco_venda;
                        },
                        error => {
                            console.error(error);
                        }
                    );

                }
                console.log(item)
            }
        }
    }
</script>

<style scoped>

</style>
